/* another son of suckerfish...
http://www.htmldog.com/articles/suckerfish/dropdowns/
http://www.alistapart.com/articles/horizdropdowns
*/

#suckerfishmenu {
    float: left;
}

#suckerfishmenu .separator hr {
    height: 0px;
    margin: 1px 0 0 0;
    border: 0;
}

#suckerfishmenu .block {
    margin-bottom: 0;
    padding-bottom: 0;
}
#suckerfishmenu .block,
#suckerfishmenu .box {
    padding: 0;
}

#suckerfishmenu h2 {
    display: none;
}

#suckerfishmenu {
    line-height: 28px;
    background: #40626a;
}

#suckerfishmenu ul.menu { /* top level ul */
    padding: 0 0 0 0px;
    list-style: none;
    z-index: 3;
    display: inline;
} 

#suckerfishmenu a,
#suckerfishmenu span {
    background: #40626a;
    color: #fff;
    display: block;
    padding: 0px 10px 0px 10px; /* padding between menu elements */
    text-decoration: none;
    font-size: 95%;
    font-weight: bold;
    border-right: #999 solid 1px;
}

#suckerfishmenu span {
    cursor: default;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover,
#suckerfishmenu span:active,
#suckerfishmenu span:hover {
    background: #40626a url(../images/menu-bg-over.png) repeat-x;
}

#suckerfishmenu li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    height: 1%;
}


/* drop down lists (second level) */

#suckerfishmenu ul.menu ul {
    padding: 0;
    list-style: none;
    background: #999;
}

#suckerfishmenu ul.menu li ul {
    position: absolute;
    width: 230px;
    left: -999em; /* to hide menus because display: none isn't read by screen readers */
}

#suckerfishmenu ul.menu li li {
    float: left;
    width: 230px;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited,
#suckerfishmenu ul.menu li li span {
    color: #fff;
    border-right: 0;
    font-weight: normal;
    line-height: 24px;
}

#suckerfishmenu ul.menu li li a:active,
#suckerfishmenu ul.menu li li a:hover,
#suckerfishmenu ul.menu li li span:active,
#suckerfishmenu ul.menu li li span:hover {
    background:#7fa3ad;
    text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded a,
#suckerfishmenu ul.menu li li.expanded span {
    background: #40626a url(../images/menu_arrow.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover,
#suckerfishmenu ul.menu li li.expanded span:active,
#suckerfishmenu ul.menu li li.expanded span:hover {
    background: #7fa3ad url(../images/menu_arrow.png) 100% 50% no-repeat;
}


/* pullouts (third level) */

/* margin for pullouts */
#suckerfishmenu ul.menu li li.expanded ul {
    margin: -25px 0px 0px 230px;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a,
#suckerfishmenu ul.menu li li.expanded ul.menu span {
    background: #40626a;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover,
#suckerfishmenu ul.menu li li.expanded ul.menu span:active,
#suckerfishmenu ul.menu li li.expanded ul.menu span:hover {
    background: #7fa3ad;
}


#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded span {
    background: #40626a url(../images/menu_arrow.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded span:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded span:hover {
    background: #7fa3ad url(../images/menu_arrow.png) 100% 50% no-repeat;
}


/* positioning */

#suckerfishmenu ul.menu li:hover ul ul,
#suckerfishmenu ul.menu li:hover ul ul ul,
#suckerfishmenu ul.menu li.sfhover ul ul,
#suckerfishmenu ul.menu li.sfhover ul ul ul {
    left: -999em; /* to hide menus because display: none isn't read by screen readers */
}

#suckerfishmenu ul.menu li:hover ul,
#suckerfishmenu ul.menu li li:hover ul,
#suckerfishmenu ul.menu li li li:hover ul,
#suckerfishmenu ul.menu li.sfhover ul,
#suckerfishmenu ul.menu li li.sfhover ul,
#suckerfishmenu ul.menu li li li.sfhover ul {
    left: auto;
}




/* suckerfishmenu2 */

#suckerfishmenu2 {
    float: right;
}

#suckerfishmenu2 .separator hr {
    height: 0px;
    margin: 1px 0 0 0;
    border: 0;
}

#suckerfishmenu2 .block {
    margin-bottom: 0;
    padding-bottom: 0;
}
#suckerfishmenu2 .block,
#suckerfishmenu2 .box {
    padding: 0;
}

#suckerfishmenu2 h2 {
    display: none;
}

#suckerfishmenu2 {
    line-height: 28px;
    background: #40626a;
}

#suckerfishmenu2 ul.menu { /* top level ul */
    padding: 0 0 0 0px;
    list-style: none;
    z-index: 3;
    display: inline;
} 

#suckerfishmenu2 a,
#suckerfishmenu2 span {
    background: #40626a;
    color: #fff;
    display: block;
    padding: 0px 14px 0px 14px; /* padding between menu elements */
    text-decoration: none;
    font-size: 95%;
    font-weight: bold;
    border-left: #999 solid 1px;
}

#suckerfishmenu2 span {
    cursor: default;
}

#suckerfishmenu2 a:active,
#suckerfishmenu2 a:hover,
#suckerfishmenu2 span:active,
#suckerfishmenu2 span:hover {
    background: #40626a url(../images/menu-bg-over.png) repeat-x;
}

#suckerfishmenu2 li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    height: 1%;
}


/* drop down lists (second level) */

#suckerfishmenu2 ul.menu ul {
    padding: 0;
    list-style: none;
    background: #999;
}

#suckerfishmenu2 ul.menu li ul {
    position: absolute;
    width: 230px;
    left: -999em; /* to hide menus because display: none isn't read by screen readers */
}

#suckerfishmenu2 ul.menu li li {
    float: left;
    width: 230px;
}

#suckerfishmenu2 ul.menu li li a:link,
#suckerfishmenu2 ul.menu li li a:visited,
#suckerfishmenu2 ul.menu li li span {
    color: #fff;
    border-right: 0;
    font-weight: normal;
    line-height: 24px;
}

#suckerfishmenu2 ul.menu li li a:active,
#suckerfishmenu2 ul.menu li li a:hover,
#suckerfishmenu2 ul.menu li li span:active,
#suckerfishmenu2 ul.menu li li span:hover {
    background:#7fa3ad;
    text-decoration: none;
}

#suckerfishmenu2 ul.menu li li.expanded a,
#suckerfishmenu2 ul.menu li li.expanded span {
    background: #40626a url(../images/menu_arrow.png) 100% 50% no-repeat;
}

#suckerfishmenu2 ul.menu li li.expanded a:active,
#suckerfishmenu2 ul.menu li li.expanded a:hover,
#suckerfishmenu2 ul.menu li li.expanded span:active,
#suckerfishmenu2 ul.menu li li.expanded span:hover {
    background: #7fa3ad url(../images/menu_arrow.png) 100% 50% no-repeat;
}


/* pullouts (third level) */

/* margin for pullouts */
#suckerfishmenu2 ul.menu li li.expanded ul {
    margin: -25px 0px 0px 230px;
}

#suckerfishmenu2 ul.menu li li.expanded ul.menu a,
#suckerfishmenu2 ul.menu li li.expanded ul.menu span {
    background: #40626a;
}

#suckerfishmenu2 ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu2 ul.menu li li.expanded ul.menu a:hover,
#suckerfishmenu2 ul.menu li li.expanded ul.menu span:active,
#suckerfishmenu2 ul.menu li li.expanded ul.menu span:hover {
    background: #7fa3ad;
}


#suckerfishmenu2 ul.menu li li.expanded ul.menu li.expanded a,
#suckerfishmenu2 ul.menu li li.expanded ul.menu li.expanded span {
    background: #40626a url(../images/menu_arrow.png) 100% 50% no-repeat;
}

#suckerfishmenu2 ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu2 ul.menu li li.expanded ul.menu li.expanded a:hover,
#suckerfishmenu2 ul.menu li li.expanded ul.menu li.expanded span:active,
#suckerfishmenu2 ul.menu li li.expanded ul.menu li.expanded span:hover {
    background: #7fa3ad url(../images/menu_arrow.png) 100% 50% no-repeat;
}


/* positioning */

#suckerfishmenu2 ul.menu li:hover ul ul,
#suckerfishmenu2 ul.menu li:hover ul ul ul,
#suckerfishmenu2 ul.menu li.sfhover ul ul,
#suckerfishmenu2 ul.menu li.sfhover ul ul ul {
    left: -999em; /* to hide menus because display: none isn't read by screen readers */
}

#suckerfishmenu2 ul.menu li:hover ul,
#suckerfishmenu2 ul.menu li li:hover ul,
#suckerfishmenu2 ul.menu li li li:hover ul,
#suckerfishmenu2 ul.menu li.sfhover ul,
#suckerfishmenu2 ul.menu li li.sfhover ul,
#suckerfishmenu2 ul.menu li li li.sfhover ul {
    left: auto;
}
