/* GRIIDC 2.1 layout */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 970px;
}

/* various overrides */

tbody { border: none; }

/* typography */

body {
  font-size: 82%;
  font-family: Arial, Verdana, sans-serif;
  line-height: 130%;
  color: #292929;
  background: #335e5e url(images/bg.png) 0 0 repeat-x;
}

tr.odd td, tr.even td { padding: 0.3em; }

tr.odd { background: #eee; }

tr.even { background: #ccc; }

h1, h2, h3, h4, h4 {
  padding-bottom: 5px;
  margin: 10px 0;
  line-height: 125%;
}

h1 { font-size: 160%; }
h2 { font-size: 125%; }
h3 { font-size: 110%; }
h4 { font-size: 100%; }

#main h2.title { font-size: 150%; }

p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}

a:link,
a:visited,
a:hover,
.title,
.title a,
.submitted,
.links,
.node .taxonomy,
#aggregator .news-item .categories,
#aggregator .source,
#aggregator .age,
#forum td .name,
div.admin-panel .description {
  color: #047504;
}

/* links */

a { text-decoration: none; }

a:hover { text-decoration: underline; }

/* elements */

fieldset {
  margin: 1em 0 0 0;
  border: 1px solid #ccc;
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}

pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}

table { font-size: 1em; }

.block .title { margin-bottom: .25em; }

.title, .title a {
  font-weight: bold;
  margin: 0 auto;
}

/* layout */

#outer-container {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#outer-container > div { display: table-row; }
#outer-container > div >div { display: table-cell; }

#page-outer-wrapper {
  height: 100%;
  padding: 15px;
}

#page-inner-wrapper {
  height: 100%;
}

#page {
  display: table;
  width: 100%;
  height: 100%;
}
#page > div { display: table-row; }
#page > div > div { display: table-cell; }

/* header */

#header-row {
  background: #bfcacd url(images/mast-bg.png) 0 0 repeat-x;
}

#header { position: relative; }

#header .block {
  text-align: center;
  color: #000;
}

#header .block a {
  color: #166F00;
  font-weight: bold;
}

#header .block h2,
#header .block h2.title {
  color: #fff;
}

#header .header-corner {
  position: absolute;
  top: 0;
  height: 15px;
  width: 15px;
}

#header .header-corner-left {
  left: 0;
  background: url(images/mast-l.png) 0 0 no-repeat;
}

#header .header-corner-right {
  right: 0;
  background: url(images/mast-r.png) 100% 0 no-repeat;
}

#logo-title {
  float: left;
  padding-left: 9px;
  padding-top: 8px;
}

#login_logout {
  float: right;
  margin-top: 10px;
}

/* main area */

#main-cell {
  height: 100%;
  padding: 10px;
  background: #ffffff url(images/body-bg.png) 0 0 repeat-x;
}

#main {
  display: table;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
#main > div { display: table-row; }
#main > div > div { display: table-cell; }

#main a,
#main a:link,
#main a:visited {
  color: #039203;
}

#main a.readon,
#main a:visited.readon,
#main a:hover.readon {
  background: #047504;
  color: #fff;
}

#main .title,
#main h2 {
  color: #166F00;
}

.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}

.error { border-color: red; }

#branding h1.title {
  float: left;
}

/* added for js button add shortcuts */
#branding .add-or-remove-shortcuts{
  margin: 3px 0 0 0;
  float: left;
}

.region-content { height: 100%; }

#block-system-main { height: 100%; }

#block-system-main > div { height: 100%; }

.submitted {
  font-size: 0.8em;
  display: none;
}

.node .taxonomy,
.node .field-type-taxonomy-term-reference {
  font-size: 0.8em;
  line-height: 100%;
}

.node .picture,
.node .user-picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}

.field-name-field-image {
  float: left;
  margin-right: 10px;
}

.field-name-field-tags {
  display: none;
}

/* footer */

#footer-row {
  background: #002d38 url(images/footer-bg.png) 0 100% repeat-x;
}

#footer-region .block {
  color: #fff;
  text-align: center;
  font-family: sans-serif, Tahoma, Geneva;
  font-size: 9px;
}

#footer-region .block a {
  color: #A8FFA2;
}

#footer {
  position: relative;
  padding: 5px 10px 7px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
}

#footer .unstyled-block {
  padding: 0;
}

#footer p { margin: 0; }

#footer a {
  color: #adadad;
}

#footer-region .block h2,
#footer .block h2.title {
  color: #fff;
}

#footer .footer-corner {
  position: absolute;
  bottom: 0;
  height: 15px;
  width: 15px;
}

#footer .footer-corner-left {
  left: 0;
  background: url(images/footer-l.png) 0 0 no-repeat;
}

#footer .footer-corner-right {
  right: 0;
  background: url(images/footer-r.png) 100% 0 no-repeat;
}

.links a {
  font-weight: bold;
}

.node-sticky,
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}

.comment {
  padding: .5em;
  margin-bottom: 1em;
  border: 1px solid #41B61C;
}

.comment .title a {
  font-weight: normal;
}

.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}

.comment .picture,
.comment .user-picture {
  float: right;
  margin: 0.5em;
  border: 1px solid #41B61C;
}

.comment .links {
  margin-bottom: 0;
}

#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}

#aggregator .news-item .categories,
#aggregator .source,
#aggregator .age {
  font-style: italic;
  font-size: 0.9em;
}

#aggregator .title {
  margin-bottom: 0.5em;
}

#aggregator h3 {
  margin-top: 1em;
}

#forum table {
  width: 100%;
}

#forum th {
  padding-right: 0;
  text-align: center;
}

#forum td {
  padding: 0.5em;
}

#forum td.forum,
#forum td.posts {
  background-color: #eee;
}

#forum td.topics,
#forum td.last-reply {
  background-color: #ddd;
}

#forum td.container {
  background-color: #ccc;
}

#forum td.container a {
  color: #555;
}

#forum td.replies,
#forum td.posts,
#forum td.topics,
#forum td.last-reply {
  text-align: center;
}

#forum td.statistics,
#forum td.settings,
#forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}

#forum td .name {
  margin: 3px 0 0 0;
}

#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}

#profile .profile {
  clear: both;
  padding: .5em;
  margin: 1em 0em;
}

#profile .profile .name {
  padding-bottom: 0.5em;
}

#profile .profile {
  border: 1px solid #41B61C;
}

.block-forum h3 {
  margin-bottom: .5em;
}

div.admin-panel .body {
  background: #f4f4f4;
}

div.admin-panel h3 {
  padding: 5px 8px 5px;
  margin: 0;
}

.poll .title {
  color: #000000;
}

/* new */

.section {
  float: left;
}

#section1,
#section2 {
  padding-top: 10px;
}

div#section1 {
  background: #41b61c url(images/topregion-bg.png) 0 0 repeat-x;
}

div#section1 .contentheading,
div#section1 div.moduletable h3,
div#section1 {
  color: #F0F0F0;
}

div#section1 .title {
  color: #fff;
}

div#section1 a,
div#section1 a:link,
div#section1 a:visited {
  color: #A8FFa2;
}

div#section1 a.readon,
div#section1 a:visited.readon,
div#section1 a:hover.readon {
  background: #9BB3D1;
  color: #B61C1E;
}

div#section2 {
  background: #FFFFFF url(images/bottomregion-bg.png) 0 0 repeat-x;
  color: #fff;
}

div#section2 .title {
  color: #fff;
}

div#section2 .contentheading,
div#section2 div.moduletable h3,
div#section2 {
  color: #DEDEDE;
}

div#section2 a,
div#section2 a:link,
div#section2 a:visited {
  color: #9EFBA0;
}

div#section2 a.readon,
div#section2 a:visited.readon,
div#section2 a:hover.readon {
  background: #fff;
  color: #081708;
}

#content-top h2,
#content-top h2.title,
#content-bottom h2,
#content-bottom h2.title {
  font-size: 125%;
}

/* box styles */

.boxborder {
  padding: 0 7px 0 0;
  background: url(images/box-right.gif) 100% 0 repeat-y;
}

.bi {
  padding: 0 0 0 7px;
  background: url(images/box-left.gif) 0 0 repeat-y;
}

.bt {
  height: 7px;
  margin: 0 -7px;
  line-height: 0px;
  font-size: 0;
  background: url(images/box.gif) 100% 0 no-repeat;
}

.bt div {
  width: 7px;
  height: 7px;
  line-height: 0px;
  font-size: 0;
  background: url(images/box.gif) 0 0 no-repeat;
}

.bb {
  height: 7px;
  margin: 0 -7px;
  line-height: 0px;
  font-size: 0;
  background: url(images/box.gif) 100% 100% no-repeat;
}

.bb div {
  width: 7px;
  height: 7px;
  line-height: 0px;
  font-size: 0;
  background: url(images/box.gif) 0 100% no-repeat;
}

/* block theme styles */

.unstyled-block {
  padding: 10px;
}

.region-content .unstyled-block{
  margin: 0;
  padding: 0;
}

#searchbox .unstyled-block {
  padding: 0px;
}

.rollover1-block {
  margin: 5px;
}

.rollover-block h2 {
  padding: 2px 5px;
}

.rollover-block ul,
.rollover-block ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rollover-block ul li,
.rollover-block ul li.leaf,
.rollover-block ul li.collapsed {
  padding: 0 0 0 0;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
}

.block-poll.rollover-block ul.links {
  padding: 10px 0 0 0;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
}

.rollover-block ul li a {
  margin: 0;
  padding: 0 10px;
  display: block;
  text-decoration: none;
}

.custom-inbox {
  padding: 10px;
}

.no-margins-block {
  padding: 0;
  margin: 0;
}
.no-margins-block p {
  margin: 0;
}

.stripebox h2 {
  margin: 0 -9px 5px -9px;
  padding: 0 5px;
}
.blk-outline,
.blk-solid {
  margin: 5px;
  padding: 5px;
}

#leaderboard .blk-outline,
#leaderboard .blk-solid,
#banner .blk-outline,
#banner .blk-solid {
  margin: 0;
  padding: 5px;
}

#block-node-recent table {
  width: 100%;
}

/* drupal elements */

#mission {
  font-weight: bold;
  text-align: center;
  padding: .5em 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 85%;
  border: solid 1px #047504;
  color: #000;
}

#mission a,
#mission a:visited {
  color: #41B61C;
}

.form-item label {
  font-size: 1em;
  color: #222;
}

.clr {
  clear: both;
}

/* Overlay Theming */

.overlay #page {
  padding-bottom: 40px;
}

.overlay #wrapper {
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.overlay #header-row {
  display: none;
}

.overlay #branding {
  display: none;
}

.overlay #footer-wrapper {
  display: none;
}

/* not used? */

.form-text {
  font-family: verdana, sans-serif;
}

#name-and-slogan {
  float: left;
  padding-bottom: 20px;
}

#searchbox {
  padding-top: 15px;
}

#searchbox {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  float: right;
}

/* search box */

#searchbox .form-text,
#searchbox .form-submit,
#search-block-form .form-text,
#search-block-form .form-submit{
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}

#searchbox .form-text,
#search-block-form .form-text {
  width: 8em;
  padding: 0 0.5em;
}

#searchbox .form-item label,
#search-block-form .form-item label{
  color: #fff;
}

#searchbox #search-block-form,
#search-block-form div,
#search-block-form label,
#searchbox h2.title,
#searchbox .content,
#searchbox div {
  display: inline;
}

#searchbox h2.title {
  font-size: 1em;
}

/* Primary and Secondary links */

#primarymenu {
  line-height: 30px;
}

#primary {
  padding: 0;
  margin: 0;
  list-style: none;
}

#primary li {
  display: inline;
}

#primary a {
  font-weight: bold;
  display: block;
  float: left;
  padding: 0px 14px 0px 14px;
  margin: 0px 0px 0px 0px;
  font-size: 95%;
}

#primary a {
  background-position: 0% 0px;
}

#primary a:hover {
  text-decoration: none;
  background-position: 0% -42px;
}

#primary a.active {
  background-position: 0% -84px;
}

#primary a {
  border-right: #999 solid 1px;
  color: #fff;
}

#primary a:hover,
#primary a.active {
  color: #fff;
  background: url(images/menu-bg-over.png) repeat-x;
  border-right: #999 solid 1px;
}

#secondarymenu {
  background-color: rgb(0, 0, 0);
  border-top: 1px solid #292929;
}

#secondary {
  margin: 0;
  padding: 0;
  list-style: none;
}

#secondary li {
  margin: 0;
  padding: 0;
  display: inline;
  border: none;
}

#secondary li a {
  float: left;
  display: block;
  font-size: 90%;
  padding: 0px 14px 0px 14px;
  color: white;
  background: url(images/menu-div.png) 100% 0 repeat-y;
}

#secondary a:hover {
  text-decoration: none;
  color: white;
  background-color: #555555;
}

#secondary a.active {
  font-weight: bold;
}

#block-system-help {
  font-size: 0.9em;
  margin:  1em 0 1em 0;
}

ul.links li {
  border-left: 1px solid #fff;
}

ul.links li.first {
  border: none;
}

a.readon,
a:hover.readon {
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}

#profile-admin-overview ul {
  padding-left: 1em
}

.sticky-enabled.tableheader-processed.sticky-table{
  width: 100%
}

.block-region{
  color: #000000;
}

.sections {
  width: 100%;
  padding: 0;
}

.section .block {
  padding: 15px;
}

.section.width49 {
  width: 50%;
}
.section.width99 {
  width: 100%;
}

.section.width33 {
  width: 33%;
}

.sections {
  width: 100%;
}

div ul.menu {
  padding: 0 0 0.25em 0.5em;
  margin: 0;
}

li.expanded,
li.collapsed,
li.leaf {
  padding-right: 0;
}

.item-list .title {
  color: #222;
}

.item-list ul li {
  margin: 0 0 0 1em;
  padding: 0 0 0 0;
  -webkit-margin-start: 1.25em;
}

#user-login-form ul {
  margin: 10px 0 0 0;
}

#user-login-form ul li {
  list-style: none;
  margin: 0;
}

.block-poll ul.links {
  margin: 10px 0 0 1em;
  padding: 0;
  -webkit-margin-start: 1.25em;
}

.block-poll ul.links li {
  border: none;
}

.block-poll ul.links a {
  font-weight: normal;
}

.book-navigation .menu {
  padding: 1em 0 1em 3em;
}

#user-login-form {
  text-align: center;
}

#footer-message {
  text-align: center;
  margin: 0;
  font-size: 90%;
}

#footer-message a {
  font-weight: bold;
}

div#navigation {
  background: #292929 url(images/menu-bg.png) repeat-x;
}

#search .form-text,
#search .form-submit,
#search-block-form .form-text,
#search-block-form .form-submit {
  border: 1px solid #000;
}

.cc {
  background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  text-align: center;
  width: 550px;
  height: 150px;
  font-family: sans-serif, Tahoma, Geneva;
  font-size: 11px;
  line-height: 24px;
  background: #bec9cc;
  color: #40626b;
  vertical-align: middle;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.bgCover {
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  overflow: hidden;
}

.overlayBox {
  border: 5px solid #09F;
  position: absolute;
  display: none;
  width: 500px;
  height: 300px;
  background: #fff;
}
